.App {
  font-family: sans-serif;
  text-align: center;
}

input[type="text"],
input[type="submit"],
select {
  box-sizing: border-box;
  display: block;
  width: 250px;
  margin: 2px 0px;
  padding: 10px;
}

table {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
